/* Main Window */
.window {
    border: thick double #82c885;
    background-color:#5AB1BB;
    width: fit-content; 
    border-radius: 24px;
    padding: 16px; 
    position: absolute; top: 50%; left: 50%; 
    transform: translate(-50%, -50%);
}

.body {
    background-color: #4E6766;
    font-family: Bookman, URW Bookman L, serif;
    background-image: url(images/wallpaper.JPG);
    background-size: cover
}

.text {
    font-family: Bookman, URW Bookman L, serif;
}

.selected {
  background-color: rgba(255,255,255,0.2);
  border-radius: 12px;  
}